body {
background-color: #d1e2ff;
}
.div-top {
	background-color: #2c6187;
	border-radius: 12px;
}
.fronttext {
	font-family: arial;
	font-size: 100px;
	font-weight: 6px;
	color: #212121;
	text-align: center;
}
